---
layout: default
---

<div class="home">
  <h1>👋 Welcome to {{ site.title }}</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <div class="post-meta">
        {{ post.date | date: "%B %d, %Y" }} | 
        Estimated Reading Time: {{ post.content | number_of_words | divided_by: 180 | plus: 1 }} min
      </div>
      {% if post.description %}
      <p>{{ post.description }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div> 