@use "sass:math";

// 定义必要的变量
$content-width: 800px;
$spacing-unit: 30px;

.wrapper {
  max-width: calc(#{$content-width} - #{$spacing-unit});
  padding-right: calc($spacing-unit / 2);
  padding-left: calc($spacing-unit / 2);
}

.post-meta {
  margin-bottom: calc($spacing-unit / 2);
}

.post-list > li {
  margin-bottom: calc($spacing-unit / 2);
}

.post-content {
  margin-bottom: $spacing-unit;
  
  h2 { margin-top: calc($spacing-unit / 2); }
  h3 { margin-top: calc($spacing-unit / 3); }
}

.site-nav {
  padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
}