---
layout: default
---

<div class="welcome-section">
  <h1>👋 Welcome to Ye's Log</h1>
  <p class="welcome-text">Hi, this is Ye. I'm documenting my learning notes in this blog since 2017.</p>
  <p class="welcome-quote">"问渠那得清如许？为有源头活水来。"</p>
</div>

<div class="home">
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>